<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Johanna' %>);">
  <div class="container">
    <h1>Hi, I'm Johanna.</h1>
    <p>And I'm looking for a new room. </p>
  </div>
</div>


<svg preserveAspectRatio="none" style="fill:lightgray;max-width:1024px;height:64px;min-width:100%;margin-top:-64px;color" class="absolute menu-wave " direction="up" color="#F5EEE8" viewBox="0 0 1024 64" xmlns="http://www.w3.org/2000/svg"><path class="fill-current" d="M0 8C66.6278 8 157.989 30.6667 257.463 30.6667C356.937 30.6667 403.749 14.6667 512 14.6667C620.251 14.6667 642.194 30.6667 768 30.6667C893.806 30.6667 949.394 0 1024 0V64H0V8Z"></path></svg>
<%= image_tag "SN_01880" %>